body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #5f9341;
    margin-bottom: 4px;
}

button {
    background: #5f9341;
    color: white;
    padding: 10px 20px;
    margin-top: 5px;
    border: 1px solid #5f9341;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

#delete-btn {
    background: #e74c3c;
    border: 1px solid #e74c3c;
}

#delete-btn:hover {
    background: #c0392b;
    border: 1px solid #c0392b;
    
}

#input-btn:hover {
    background: #4e7d34;
    border: 1px solid #4e7d34;
}

ul {
    margin-top: 15px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #5f9341;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #304b1e;
    text-decoration: none;
}
